<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.osir.springai.mapper.AiChatMessageMapper">

    <insert id="insertBatch">
        insert into ai_chat_message (conversation_id, content, message_type, metadata) values
        <foreach item="item" collection="aiChatMessageList" separator=",">
            (#{item.conversationId}, #{item.content}, #{item.messageType}, #{item.metadata})
        </foreach>
    </insert>

</mapper>


